/* Déclaration des vairables */

:root{
    --Couleur-border-img: 1px solid #333;
}

body{
    background-color: aliceblue;
}


/* Classe générer quand on clique sur l'image .*/
.maclasse_{
    border: var(--Couleur-border-img);
}

.img:hover{
    border: var(--Couleur-border-img);
}


