/* Déclaration des variables. */
:root{
    /* Header icone */
    --Text-Accueil: 35px;
    --Text-Accueil-descente: 45px;
    --Text-Import: 195px;
    --Text-Import-descente: 205px;
    --Text-Generation-Trait: 295px;
    --Text-Generation-Trait-descente: 305px;
    --Text-Generation-Text: 395px;
    --Text-Generation-Text-descente: 405px;
    --Text-Generation-Code: 495px;
    --Text-Generation-Code-descente: 505px;
    /* Attribut CSS répétif. */
    --Color-blanc: #fff;
    --Transition-header:  all 0.35s ease;
    --Transition-header-ease-in-out: all 0.35s ease-in-out;
    --Position-Defaut: absolute;
    /* Zindex - niveaux */
    --Zindex-1: 1;
    --Zindex-2: 2;
    --Zindex-3: 3;
    --Zindex-4: 4;
    --Zindex-5: 5;
    --Zindex-6: 6;
}


/* remise a defaut (Hashage)*/
*{
    transition: var(--Transition-header-ease-in-out);
    cursor: default;
}


/* Header inspirer de canva site officiel : https://www.canva.com/ */
ul{
    position: fixed;
    bottom: 0;
    height: 100%;
    left: 0;
    background: var(--Color-blanc);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    width: 70px;
    z-index: var(--Zindex-5);
    transition: var(--Transition-header);
}
nav ul li{
    padding: 5px;
    width: 100%;
}
nav ul li span{
    text-align: center;
}
nav ul li p{
    padding: 15px;
}


/* Icon google source : https://fonts.google.com/icons */
.material-symbols-outlined{
    border-radius: 20px;
    padding: 10px;
    position: var(--Position-Defaut);
    left: 10px;
    color: black;
    transition: var(--Transition-header);
    cursor: pointer;
}
.material-symbols-outlined:hover{
    background-color: #333;
    color: var(--Color-blanc);
}

/* Text de Acceuile. */
.Accueil{
    position: var(--Position-Defaut);
    left: 60px;
    color: #000;
    top: var(--Text-Accueil);
    z-index:var(--Zindex-5);
    opacity: 0;
}
.Accueil_2{
    display: inline-block;
    background-color: #000;
    z-index: 1000;
    left: 60px;
    position: var(--Position-Defaut);
    color: var(--Color-blanc);
    z-index:var(--Zindex-5);
    padding: 10px;
    border-radius: 10px;
    top: var(--Text-Accueil-descente);
    opacity: 1;
}


/* Text Importer image. */
.Importer{
    position: var(--Position-Defaut);
    left: 60px;
    top: var(--Text-Import);
    opacity: 0;
    z-index: var(--Zindex-5);

}
.Importer_2{
    display: inline-block;
    background-color: #000;
    z-index: var(--Zindex-5);
    left: 60px;
    position: var(--Position-Defaut);
    color: var(--Color-blanc);
    z-index: 100000;
    padding: 10px;
    border-radius: 10px;
    top: var(--Text-Import-descente);
    opacity: 1;
}


/* Text pour copier coller des |_| */
.texte_generation{
    position: var(--Position-Defaut);
    left: 60px;
    top: var(--Text-Generation-Trait);
    opacity: 0;
    z-index: var(--Zindex-5);

}
.text_overflow_generation{
    display: inline-block;
    background-color: #000;
    z-index: var(--Zindex-5);
    left: 60px;
    position: var(--Position-Defaut);
    color: var(--Color-blanc);
    z-index: 100000;
    padding: 10px;
    border-radius: 10px;
    top: var(--Text-Generation-Trait-descente);
    opacity: 1;
}



/* Parti CSS pour générer du text */
.texte_generation_text{
    position: var(--Position-Defaut);
    left: 60px;
    top: var(--Text-Generation-Text);
    opacity: 0;
    z-index: var(--Zindex-5);

}
.Text_2_classe{
    display: inline-block;
    background-color: #000;
    z-index: var(--Zindex-5);
    left: 60px;
    position: var(--Position-Defaut);
    color: var(--Color-blanc);
    padding: 10px;
    border-radius: 10px;
    top: var(--Text-Generation-Text-descente);
    opacity: 1;
}



/* Text pour génere le code. */
.texte_code{
    position: var(--Position-Defaut);
    left: 60px;
    top: var(--Text-Generation-Code);
    opacity: 0;
    z-index: var(--Zindex-5);
}
.Code_2_classe{
    display: inline-block;
    background-color: #000;
    z-index: 1000;
    left: 60px;
    position: var(--Position-Defaut);
    color: var(--Color-blanc);
    z-index: var(--Zindex-5);
    padding: 10px;
    border-radius: 10px;
    top: var(--Text-Generation-Code-descente);
    opacity: 1;
}

/* Text pour ce déconnecter. */
.texte_deconnecter{
    position: var(--Position-Defaut);
    left: 60px;
    top: 840px;
    opacity: 0;
    z-index: var(--Zindex-5);

}
.texte_deconnecter_2{
    display: inline-block;
    background-color: #000;
    z-index: var(--Zindex-5);
    left: 60px;
    position: var(--Position-Defaut);
    color: var(--Color-blanc);
    z-index: 100000;
    padding: 10px;
    border-radius: 10px;
    top: 850px;
    opacity: 1;
}


/* Header Image Importer*/
.Importer_image{
    position: fixed;
    height: 100%;
    left: 70px;
    top: 0;
    background-color: var(--Color-blanc);
    padding: 10px;
    width: 340px;
    opacity: 0;
    transition: all .2s ease;
    display: flex;   
}

/* Classe donné en javascript afin de voir la div */
.Importer_image_2{
    opacity: 1;
    z-index: 10000;
}

/* Custom labal Importer*/
input[type="file"]{
    display: none;
}

.label{
    background-color: #333;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 90px;
    text-align: center;
    left: 120px;
    width: 100px;
    z-index: 10000000;
}


.label:hover{
    background-color: rgb(93, 93, 93);
    cursor: pointer;
}


.Border_span_importer_image{
    transition: all 0.35s ease;
    border: 1px solid black;
}


/* Titre  */
.Importer_image h1{
    color: #333;
    position: var(--Position-Defaut);
    top: 30px;
    text-align: center;
    left: 20px;
    position: absolute;
}


.scrollbar{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 130px;
  position: relative;
  left: 5px;
  z-index: var(--Zindex-6);
  scrollbar-width: thin;
}


.Image_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 5vw);
    gap: 15px 15px;
    position: relative;
    left: -5px;

}

.Image_grid img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: var(--Zindex-6);

}

.formulaire_generate{
    display: none;
    position: absolute;
    z-index: 1000;
}

/* Menu clickdroit image */
.clickdroit_2{
    background-color: #000;
    position: absolute;
    left: -80px;
    top: -140px;
    padding: 0;
    width: 220px;
    height: 256px;
}

.clickdroit_2 input{
    width: 100%;
    text-align: left;
    background-color: transparent;
    color: #fff;
}


.clickdroit_2 input:hover{
    width: 100%;
    text-align: left;
    background-color: #fff;
    color: #333;
}



/* Responsive */